<a href="{% url 'logout' %}" class="ml-5">Выход</a>
<h1> Список дел </h1>
<a href= "{% url 'task-create' %}"> Добавить задачу </a>
{% if tasks %}
<table>
    <tr>
        <th> Дела </th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href = "{% url 'task' task.id %}" > Просмотр </a></td>
        <td><a href = "{% url 'task-update' task.id%}" > Изменить </a></td>
        <td><a href = "{% url 'tasks-delete' task.id%}" > Удалить </a></td>
    </tr>
    {% endfor %}
    {% else %}
    <h3>Нет дел в листе</h3>
    {% endif %}
</table>